#Login {
  margin-top: 10%;
}
.add-content-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-item {
  /*margin: 10px 0px;*/
  padding: 10px 0px;
  border-bottom: 1px solid #aaa;
}
.content-thumb {
  height: 100px;
}
ul {
  list-style: none;
}
h3,
.h3 {
  font-weight: 300;
}
.page-header {
  padding-bottom: 0px;
  margin-top: 20px;
}
#frames-list {
  height: 250px;
}
#add-content-div {
  border-top: 1px solid #4B4B4B;
  border-bottom: 1px solid #4B4B4B;
  padding: 10px 0px 10px 0px;
}
.btn-add-content {
  color: white;
  background: #3A3A3A;
  border: none;
  width: 100%;
}
.col-send {
  padding: 60px 0px 60px 0px;
}
#URL {
  border: none;
  width: 100%;
}
.form-group {
  width: 100%;
}
#Art {
  padding: 0px;
}
