// bootstrap variables for use here:
@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";
@import "icons.less";

/**
@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1060;
@zindex-tooltip:           1070;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;
 */


@import "variables.less";
/*

MOBILE FIRST:

Here should go all of the base styles — that is, all styles that are for all screens, including smallest screens.

Styles that need to be overridden or are for larger screens only should be added to the appropriate
less file. These files are imported at the bottom of this file.

 */

html, body, #OpenFrame, .app {
    height: 100%;
    position: relative;
    overflow: hidden;
    letter-spacing: 1.1px;
    font-weight: 400;
}

.container {
    position: relative;
    height: 100%;

}

#Login {
    margin-top: 10%;
}

#login-button {
    padding-top: 8px;
}

.splash-header {
    border: none;
    height: 100px;
}

.content-item {
    padding: 10px 0px;
    border-bottom: 1px solid #aaa;
}

.content-thumb {
    height: 100px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px auto;
}

.btn-settings {
    position: absolute;
    bottom: 41px;
    left: 16px;
    // top: -25px;
}

.img-container {
    height: 140px;
    // width: 140px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
}

.openframe {
    font-weight: 300;
    color: #D0D0D0;
}

.username {
    font-weight: 400;
    color: #3F3E3C;
}

.page-header {
    padding-bottom: 0px;
    margin-top: 20px;
}

.add-content {
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 2020;
    border-top: 1px solid #4B4B4B;
    border-bottom: 1px solid #4B4B4B;
    padding: 6px 0px 5px 0px;
}

.btn-add-content {
    width: 100%;
}

.icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.no-border {
    border: none;
}

.col-send {
    top: 36px;
}

.col-delete {
    top: 50px;
}

#add-form {}


#Art {
    padding: 0px;
}


// Transfer buttons
.transfer-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: @zindex-transfer-btns;
    border-top: 1px solid @gray-light;

    .btn-transfer {
        position: relative;
        top: -14px;
        padding: 3px 30px;

        &:focus, &:hover {
            outline: none;
            background: #fff;
        }

        &:focus {
        }

        .icon {
            top: 0px;
            height: 10px;
        }
    }
}



// FRAME

.frames-list {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    z-index: @zindex-panels;
    overflow-y: hidden;
    text-align: center;
}

.frame-outer-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.frame-inner-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    // border: 7px solid #3F3E3C;
}

.frame {
    position: relative;
    display: inline-block;
    border: 7px solid @gray-dark;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.connected {
    position: relative;
    top: -1px;
    color: @connected;
}

// Content slider
.swiper-outer-container {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    z-index: @zindex-panels;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    left: -20%;
    width: 140%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    position: relative;

    img {
        position: relative;
        width: 100%;
        margin: 0 auto;
        max-width: 240px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
}

.frame-slide img {
    border: 7px solid @gray-light;
}

.frame-slide-content {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.visible-frame-details {
    padding-bottom: 10px;
    .visible-frame-name {
        text-transform: uppercase;
        font-weight: 700;
    }

    .visible-frame-user {
        margin-left: 10px;
        color: @gray;
        font-weight: 300;
        letter-spacing: normal;
    }

    .visible-frame-stats {
        position: relative;
        // top: -2px;
        margin-top: 5px;
        font-size: .8em;
    }
}



ul.dropdown-menu {
    min-width: 300px;
}

.btn-simple-nav {
    position: relative;
    font-size: 1.2em;
    border: none;
    background: none;
    padding: 10px;
    &:focus {
        outline: none;
    }
}

.of-nav-fixed {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: @zindex-fixed-nav;
    // background-color: @gray-lighter;


    .frame-name {
        position: absolute;
        width: 100%;
        margin: 10px auto;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2em;
        padding-top: 3px;
    }

    .navbar-nav > li > a {
        padding: 10px;
    }

    h3 {
        padding: 5px 0px;
        margin: 0px;
    }

}

.mirroring-content {
    position: relative;
    top: -1px;
    text-transform: lowercase;
    color: @gray;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: normal;
    margin-left: 10px;

    .mirroring-meta {
        padding-left: 10px;
    }
}

.of-nav-footer {
    top: auto;
    bottom: 0;
    background: @gray-darker;

    width: 100%;

    .btn-nav-footer {
        // text-align: center;
        display: block;
        padding: 10px 10px;
        height: 40px;
        color: @gray;
        text-transform: uppercase;
        text-decoration: none;

        &.active {
            // border-bottom: solid 3px #FFF;
            color: #FFF;
        }

        &.btn-nav-footer-collection {
            padding-left: 60px;
        }
        &.btn-nav-footer-frames {
            padding-right: 60px;
            text-align: right;
        }

        // .collection {
        // }
        // .frames {
        //     padding-right: 80px;
        //     text-align: right;
        // }
    }

    .btn-nav-footer-add {
        position: absolute;
        top: 5px;
        height: 30px;
        width: 40px;
        display: block;
        color: #FFF;
        padding: 5px 15px;
        border-right: solid 1px @gray;
    }
}

.menu-drawer {
    position: absolute;
    z-index: @zindex-drawer;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);

    .menu-drawer-inner {
        position: absolute;
        top: 0px;
        width: 95%;
        height: 100%;
        background-color: @gray-dark;
        box-shadow: 0px 0px 5px black;
    }

    .of-nav-fixed {
        z-index: @zindex-drawer + 10;
        color: @gray-light;
    }

    .username {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: #FFF;
        font-weight: 300;
    }

    .icon-close {
        color: @gray;
    }

    .nav-frame-list {
        text-transform: uppercase;

        li {
            margin: 0px 10px;
            border-top: 1px solid #000;
            a {
                display: block;
                color: #fff;
                font-weight: 700;
                padding: 20px 10px;
                height: 60px;

                .status {
                    position: relative;
                    top: -2px;
                    text-transform: lowercase;
                    font-weight: 300;
                }

                &.btn-logout {
                    color: @gray;
                    text-transform: none;
                    font-weight: 300;
                    text-align: center;
                }
            }
        }
    }

    .drawer-content {
        margin-top: 40px;
        width: 100%;
        color: #fff;
    }
}


.menu-drawer-left {
    -webkit-transform: translateZ(0);
    &.menu-drawer-open {
        transition-property: left;
        transition-duration: 0.5s;
        left: 0px;
    }
    &.menu-drawer-closed {
        transition-property: left;
        transition-duration: 0.5s;
        left: -100%;
    }
}

.menu-drawer-right {
    -webkit-transform: translateZ(0);
    &.menu-drawer-open {
        transition-property: right;
        transition-duration: 0.5s;
        right: 0%;
    }
    &.menu-drawer-closed {
        transition-property: right;
        transition-duration: 0.5s;
        right: -100%;
    }
}

.row-settings {
    padding: 10px;
    border-top: 1px solid @gray-darker;
    .users-input {
        width: 100%;
    }
}



/**
 * MODALS
 */

.modal-header {
    border: none;
    button.close {
        position: relative;
        top: -10px;
        right: -10px;
        font-size: 1.2em;
        padding: 10px;
    }
}
.modal-footer {
    border: none;
    padding: 10px;
    .btn {
        padding: 10px;
    }
}

.modal-body {
    padding: 0px 10px 40px 10px;

    .row-form-field {
        margin-top: 20px;
    }

    .form-label {
        font-size: 1.2em;
        font-weight: 300;
        color: #000;
    }

    .row-form-field-rotation {
        margin-top: 30px;
        .form-label {
            margin-top: 8px;
        }
    }

    .form-label-subtext {
        font-size: .8em;
        letter-spacing: 1px;
    }

    .form-input {
        input {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid @gray;
            border-radius: none;
        }
    }
}

.modal-title {
    font-weight: 400;
    font-size: 1.2em;
}


/**
 * Previews
 */
.preview-container {
    -webkit-transform: translateZ(0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: @zindex-preview;
    transition: visibility 0s linear 0.3s, opacity 0.3s ease;
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s ease;

    &.preview-closed {
        opacity: 0;
        visibility: hidden;
    }

    &.preview-open {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
        // transition-property: opacitiy;
        // transition-duration: 0.5s;
    }


    .preview-footer-wrap {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        letter-spacing: normal;
        font-weight: 300;

        .preview-footer {
            padding: 10px;

            .btn-simple-nav {
                position: relative;
                font-size: 1em;
                top: -7px;
                right: -10px;
            }

            .preview-tags {
                color: #FFF;
                font-size: 1.2em;
            }

            .preview-url {
                word-wrap: break-word;
                color: @gray-light;
            }

        }
        .preview-frame-details {
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: @gray-light;

            .frame-name {
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1.2px;
                color: #FFF;
                // font-size: 1.2em;
                // padding-top: 3px;
            }

            .description {
                font-size: .8em;
            }
        }
    }
}


/**
 * iOS stuff
 */
input, select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

select {
    background: transparent;
    background-image: url('../img/down caret.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;
    border: 1px solid @gray;
    height: 40px;
    padding: 6px 10px;
    padding-right: 30px;
    font-size: 1.2em;
}

input[type="checkbox"] {
    border: 1px solid @gray;
    width: 30px;
    height: 30px;
}

input[type="checkbox"]:checked {
    border: 1px solid @gray;
    width: 30px;
    height: 30px;
    background: transparent;
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/**
 * Import styles for larger sreens.
 */
@import "sm.less";
@import "md.less";
@import "lg.less";
