<!DOCTYPE html>
<html>

<head>
    <title>Frame</title>

    <style type="text/css">
    
    * {
        cursor: none
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: #000;
    }
    
    body {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    </style>
</head>

<body>
    <script type="text/javascript" src="/static/js/libs/jquery-2.1.3.js"></script>
    <script type="text/javascript">
    var $body = $('body');
    var ws = new WebSocket("ws://localhost:8888/ws/jonwohl");
    ws.onopen = function() {
        ws.send("connecting as jonwohl");
    };
    ws.onmessage = function(evt) {
        var data = JSON.parse(evt.data);
        console.log(data);
        if (data.url) {
            $body.css({
                'background-image': 'url("' + data.url + '")'
            });
        }

    };
    </script>
</body>

</html>
