<html>
<head>
<title>Openframe</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>



<div class="wrap">
	
	<div class="selects">
		<select>
			<option value="volvo">@jonwohl</option>
		    <option value="saab">@ishback</option>
	     	<option value="mercedes">@anotheruser</option>
		</select>
	</div>

	<div class="line"></div>

	<div class="enterArt">
		<form id="formEnterArt" method="post" action="/content" enctype="multipart/form-data">
			<input id="url" type="text" placeholder="Paste file URL"/>
	  		<input type="file" name="filePath" value="Browse">
	  		<input id="submit_button" type="submit" value="Submit">
		</form>		
	</div>

	<div class="line"></div>

	<div class="selects">
		<select>
			<option value="volvo">@jonwohl</option>
		    <option value="saab">@ishback</option>
	     	<option value="mercedes">@anotheruser</option>
		</select>
	</div>

</div>

</body>