<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFrame</title>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/all-styles.css">
</head>

<body>
    <div class="container" id="OpenFrame">
        <div class="row page-header splash-header">
            <div class="col-md-12">
                <h3 class="text-muted"><span class="openframe">openframe</span></h3>
                <form class="form-inline" id="LoginForm" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="AdminUser" placeholder="username" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="AdminPass" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password_confirm" id="AdminPassConfirm" placeholder="confirm password">
                    </div>
                    <div class="form-group">
                        <button id="LoginButton" href="#" class="btn btn-default">Log In</button>
                    </div>
                </form>
            </div>
        </div>
        {% if error %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            </div>
        </div>
        {% end %}
    </div>
    <script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/components/lodash/lodash.js"></script>
    <script type="text/javascript">
        // TODO: validation
    </script>
</body>

</html>
