<!DOCTYPE html>
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFrame</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="container" id="OpenFrame">
        <div class="container-top">
            <div class="page-header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="#" id="LogoutButton">logout</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted"><span class="openframe">openframe/</span><span class="username">{{ user }}</span></h3>
            </div>
            <div class="row" id="frames-list">
                <div class="col-md-12">
                    <ul class="frames-list">
                        {% for frame in frames %}
                        <li data-frame-id="{{ frame['_id'] }}">
                            <div class="frame-outer-container">
                                <div class="frame"></div>
                                <div class="frame-name"><h6 class="text-center">{{ frame['name'] }}</h6></div> 
                                <!-- ({{ frame['owner'] }}) -->
                            </div>
                        </li>
                        {% end %}
                    </ul>
                </div>
            </div>
            <!-- collection | people selection -->
            <!-- <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div> -->

            <div class="row" id="add-content-div">
                
                <form class="form-inline" id="add-form">
                    <div class="form-group">
                        <!-- <label for="SendToUser">URL</label> -->
                        <div class="col-md-10" >
                            <input type="text" class="form-control" id="URL" placeholder="enter URL">
                        </div>
                        <div class="col-md-2" >
                            <button class="btn btn-default btn-add-content" href="#add-content" id="add-content-button">Add Content</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-collection">
            <div class="row">
                <div class="col-md-12">
                    <ul class="content-list" id="Art">
                        {% for content_item in content %}
                        <li>
                            <div class="row content-item">
                                <div class="col-md-3">
                                    <div class="img-container" style="background-image: url('{{ content_item['url'] }}')"></div>
                                </div>
                                <div class="col-md-6 col-send">
                                    <button class="btn btn-default btn-xs btn-send center-block no-border" href="#send" rel="{{ content_item['_id'] }}">Send to Frame</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2 col-delete">
                                    <button class="btn btn-default btn-xs remove-button center-block no-border" href="#delete" rel="<%= id %>"><span class="icon icon-delete" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>





    </div>
    <script type="text/template" id="ContentItemTemplate">
        <li>
            <div class="row content-item">
                <div class="col-md-3">
                    <div class="img-container" style="background-image: url('<%= url %>')"></div>
                </div>
                <div class="col-md-6 col-send">
                    <button class="btn btn-default btn-xs btn-send center-block no-border" href="#send" rel="<%= id %>"><span class="icon icon-send" aria-hidden="true"></span></br>Send to Frame</button>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 col-delete">
                    <button class="btn btn-default btn-xs remove-button center-block no-border" href="#delete" rel="<%= id %>"><span class="icon icon-delete" aria-hidden="true"></span></button>
                </div>
            </div>
        </li>
    </script>

    <script type="text/template" id="FrameTemplate">
        <li data-frame-id="<%= frame_id %>">
            <div class="frame-outer-container">
                <div class="frame"></div>
                <div class="frame-name"><h6 class="text-center"><%= name %></h6></div>
            </div>
        </li>
    </script>

    <script type="text/javascript">
        var OF_USERNAME = '{{ user }}';
    </script>
    <script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/components/lodash/lodash.js"></script>
    <script type="text/javascript" src="/static/js/socker.js"></script>
    <script type="text/javascript" src="/static/js/admin.js"></script>
    <script type="text/javascript">
    $(function() {

        OF_Admin.init();

    });
    </script>
</body>

</html>
