<!DOCTYPE html>
<html lang="en">

<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFrame</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
    <div class="container" id="OpenFrame">
        <div class="container-top">
            <div class="page-header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation"><a href="#">Logout</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">openframe/<strong>{{ user }}</strong></h3>
            </div>
            <div class="row" id="frames-list">
                <div class="col-md-12">
                    <ul class="frames-list">
                        {% for frame in frames %}
                        <li data-frame-id="{{ frame['_id'] }}">{{ frame['name'] }} ({{ frame['owner'] }})</li>
                        {% end %}
                    </ul>
                </div>
            </div>
            <!-- collection | people selection -->
            <!-- <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div> -->

            <div class="row" id="add-content-div">
                
                <form class="form-inline" id="add-form">
                    <div class="form-group">
                        <!-- <label for="SendToUser">URL</label> -->
                        <div class="col-md-10" >
                            <input type="text" class="form-control" id="URL" placeholder="enter URL">
                        </div>
                        <div class="col-md-2" >
                            <button class="btn btn-default btn-add-content" href="#add-content" id="add-content-button">Add Content</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container-collection">
            <div class="row">
                <div class="col-md-12">
                    <ul class="content-list" id="Art">
                        {% for content_item in content %}
                        <li>
                            <div class="row content-item">
                                <div class="col-md-2" id="content_pic">
                                    <img class="content-thumb" src="{{ content_item['url'] }}">
                                </div>
                                <div class="col-md-8 col-send">
                                    <button class="btn btn-default btn-xs btn-send center-block" href="#send" rel="{{ content_item['_id'] }}">Send to Frame</button>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-default btn-xs remove-button center-block" href="#delete" rel="{{ content_item['_id'] }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>





    </div>
    <script type="text/template" id="ContentItemTemplate">
        <li>
            <div class="row content-item">
                <div class="col-md-2">
                    <img class="content-thumb" src="<%= url %>">
                </div>
                <div class="col-md-8 col-send">
                    <button class="btn btn-default btn-xs btn-send center-block" href="#send" rel="<%= id %>">Send to Frame</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default btn-xs remove-button center-block" href="#delete" rel="<%= id %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </div>
            </div>
        </li>
    </script>
    <script type="text/javascript" src="/static/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/components/lodash/lodash.js"></script>
    <script type="text/javascript">
    $(function() {
        var user = '{{ user }}',
            content_item_tpl = _.template($("#ContentItemTemplate").html()),
            selected_frame = null,
            ws;

        // Login Button handler
        // $(document).on('click', '#LoginButton', function() {
        //     user = $('#AdminUser').val();
        //     if (user) {
        //         login(user);
        //     }
        //     return false;
        // });

        $(document).on('click', '#LogoutButton', function() {
            window.location = "/";
            return false;
        });

        // $("form#LoginForm").on('submit', function() {
        //     user = $('#AdminUser').val();
        //     if (user) {
        //         login(user);
        //     }
        //     return false;
        // });

        // function login(username) {
        //     open_ws(username);
        //     var $art = $("#Art");
        //     $art.empty();
        //     $("#LoggedInAs strong").text(username);
        //     $("#Login").addClass('hide');
        //     $("#OpenFrame").removeClass('hide');
        //     fetchContent(username);
        // }

        // add event handler
        $("#AddForm").on('submit', addContent);
        $(document).on('click', '#AddContent', addContent);

        // send to frame handler
        $(document).on('click', '.btn-send', function(e) {
            // e.preventDefault();
            var $el = $(e.target),
                // frame_id = $('#SendToFrame').val(),
                frame_id = selected_frame,
                content_id = $el.attr('rel');
            updateFrame(frame_id, content_id);
            return false;
        });

        // remove content handler
        $(document).on('click', '.remove-button', function(e) {
            // e.preventDefault();
            var $el = $(this),
                content_id = $el.attr('rel');
            deleteContent(content_id);
            return false;
        });

        function updateFrame(frame_id, content_id) {
            console.log('clicked', frame_id, content_id);
            message = {
                name: 'frame:update_content',
                data: {
                    frame_id: frame_id,
                    content_id: content_id
                }
            };

            ws.send(JSON.stringify(message));

            // $.getJSON('/update/' + frame_id + '/' + content_id)
            //     .done(function(resp) {
            //         console.log(resp);
            //     });
        }

        function addContent() {
            $.ajax({
                url: '/content',
                method: 'POST',
                data: JSON.stringify({
                    url: $('#URL').val(),
                    users: [user]
                }),
                dataType: 'json'
            }).done(function(resp) {
                console.log(resp);
                fetchContent(user);
                $('#URL').val('').focus();
            });
            return false;
        }

        function deleteContent(content_id) {
            $.ajax({
                url: '/content/' + content_id,
                method: 'DELETE',
                // data: JSON.stringify({
                //     url: $('#URL').val(),
                //     username: user
                // }),
                dataType: 'json'
            }).done(function(resp) {
                console.log(resp);
                fetchContent(user);
            });
            return false;
        }

        function fetchContent(user) {
            $.getJSON('/content/user/' + user)
                .done(function(content_list) {
                    console.log(content_list);
                    var $ul_art = $("#Art");

                    $ul_art.empty();

                    for (var i = 0; i < content_list.length; i++) {
                        content_item = content_item_tpl({
                            "url": content_list[i].url,
                            "id": content_list[i]._id.$oid
                        });
                        $ul_art.append(content_item);
                    };
                });
        }


        function open_ws(username) {
            console.log("open_ws", username);
            var domain = url_domain(window.location);
            console.log(domain);

            ws = new WebSocket("ws://" + domain + ":8888/admin/ws/" + username);
            ws.onopen = function() {
                // ws.send("connecting as " + username);
            };
            ws.onmessage = function(evt) {
                var message = JSON.parse(evt.data),
                    data,
                    frame,
                    content;
                console.log(message);
                if (message.name === 'frame:connected') {
                    frame = message.data,
                        _id = frame._id.$oid || frame._id;
                    // TEMPORARY
                    selected_frame = _id;
                    // $("option[value='" + _id + "'").remove();
                    // $("#SendToFrame").append('<option value="' + _id + '">' + frame.name + ' (' + frame.owner + ')</option>');
                }
                if (message.name === 'frame:disconnected') {
                    frame = message.data,
                        _id = frame._id.$oid || frame._id;
                    // TEMPORARY
                    selected_frame = null;
                    // $("option[value='" + _id + "'").remove();
                }
                if (message.name === 'frame:content_updated') {
                    console.log('received frame:content_updated');
                    data = message.data;
                    frame = data.frame;
                    content = data.content;
                }
                // if (data.active_frames) {
                //     $("#SendToFrame").empty();

                //     for (var i = 0; i < data.active_frames.length; i++) {
                //         $("#SendToFrame").append('<option>' + data.active_frames[i] + '</option>');
                //     }
                // }

            };
        }

        function url_domain(data) {
            var a = document.createElement('a');
            a.href = data;
            return a.hostname;
        }


        function init() {
            open_ws(user);
            fetchContent(user);
        }

        init();
    });
    </script>
</body>

</html>
