<!DOCTYPE html>
<html lang="en" id="Website">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenFrame</title>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/all-styles.css">
</head>

<body>

    <!-- Nav, Page Heading, Preview Image -->
    <div class="top-nav-wrap">
        <ul class="top-nav">
            <li><a href="/request-account">Request an Account</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </div>
    <div class="container-wide">
        <div class="row page-header splash-header">
            <div class="col-md-12">
                <img class="logo" src="#" />

                <h3>
                    <span class="openframe">
                        <strong>openframe</strong>
                        <span class="alpha">alpha 0.1</span>
                    </span>
                    is a platform for displaying art
                </h3>

            </div>
            <div class="col-md-12">
                <div class="preview">

                </div>
            </div>
        </div>
    </div>
    <!-- END Nav, Page Heading, Preview Image -->

    <!-- Intro, Feature List -->
    <div class="container-wide" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        Openframe is an <strong>open source</strong> platform for artists, developers, curators, and everyone else to explore new ways of consuming and interacting with art in our personal environment.
                    </p>
                    <p>
                        Openframe is <strong>free</strong>. Anyone can set up a frame using a display and a Raspberry Pi, and following these simple <a href="#" >instructions</a>.
                    </p>
                    <p>
                        Openframe is a <strong>collaborative</strong>, on-going project. Here's where we are:
                    </p>

                    <ul class='features'>
                        <li class="done">Display content from the internet, or your own <sup>*</sup></li>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="done"></li>
                        <li class="not-done"></li>
                        <li class="not-done"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END Intro, Feature List -->

    <!-- Step-by-Step -->
    <div class="container-wide setup" >
        <div class="row">
            <div class="col-sm-12">
                <h4><strong>For everyone.</strong> Free and easy to set up.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="setup-display" src="#" />
                <h6>1. Get a display.</h6>
                <p>...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="setup-pi" src="#" />
                <h6>2. Get a Raspberry Pi.</h6>
                <p>...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="setup-account" src="#" />
                <h6>3. Create an account.</h6>
                <p>...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img class="setup-display" src="#" />
                <h6>4. Display art.</h6>
            </div>
        </div>
    </div>
    <!-- END Step-by-Step -->

    <!-- For Whom? -->
    <div class="container-wide">
        <div class="container-mid">
            <div class="row">
                <div class="col-sm-4">
                    <h4>For developers.</h4>
                    <h5>Contribute on Github</h5>
                    <p>...</p>
                </div>
                <div class="col-sm-4">
                    <h4>For artists.</h4>
                    <h5>Your art in people's homes.</h5>
                    <p>...</p>
                </div>
                <div class="col-sm-4">
                    <h4>For curators.</h4>
                    <h5>Create an art channel.</h5>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END For Whom? -->

    <div class="container-wide q-a" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4><strong>Questions</strong> and answers.</h4>

                    <h5>Why this project</h5>

                    <p>...</p>
                    <p>...</p>
                    <p>...</p>

                    <h5>What's the future of Openframe?</h5>

                    <p>...</p>
                    <p>...</p>

                    <h5>What artwork can I display?</h5>

                    <p>...</p>

                    <h5>The installation seems complicated, I just want to buy a frame.</h5>

                    <p>...</p>

                    <h4>Contact us at <a href="mailto:hello@openframe.io">hello@openframe.io</a></h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
